.body {
  text-align: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the items horizontally */
  align-items: center; /* Centers the items vertically */
}

.productdiv {
  text-align: center;
  max-width: 1000px;
  box-shadow: 0 0 10px rgb(20, 19, 19);
  margin: 10px;
}

.productdiv:hover {
  background-color: lightgray;
}
